body {
  width: 100%;
  background-color: $body-color;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.entry {
  h1, h2, h3, h4, h5, h6, p, li {
    word-wrap: break-word;
  }
}
.entry-dark {
  background-color: $header-color;
}
.entry-content {
  @include content();
}

.content-header-title {
  text-align: center;
  margin: 30px 0 0;

  h1 {
    @include font-rem(32)
    font-weight: 700;
    color: lighten($base-color, 20);
    margin: 10px 20px;

    @media #{$medium} {
      @include font-rem(48);
    }
    @media #{$large} {
      @include font-rem(60);
    }
  }
  h2 {
    @include font-rem(18);
    text-transform: uppercase;
    color: lighten($base-color, 40);
    margin: 0;

    @media #{$medium} {
      @include font-rem(24);
    }
  }
  p {
    color: lighten($base-color, 20);
  }
}

.image-credit {
  @include font-rem(12);
  text-align: right;
  max-width: 440px;
  color: $white;
  background-color: rgba($base-color, 0.5);
  border-radius: 3px 3px 0 0;
  margin: 0 auto;
  padding: 10px 15px;
  z-index: 10;
  right: 0;
  bottom: 0;
  position: absolute;

  @media #{$medium} {
    max-width: 760px;
  }
  @media #{$medium} {
    max-width: 960px;
  }

  a {
    color: $white;
    text-decoration: none;
  }
}

.entry-meta {
  @include font-rem(12);
  text-transform: uppercase;
  color: lighten($base-color, 60);

  a {
    color: lighten($base-color, 60);
  }

  .vcard:before {
    content: " by ";
  }
  .entry-reading-time {
    float: right;
  }
}

header .entry-meta {
  display: none;

  @media #{$medium} {
    display: block;
  }
}

#menu {
  margin-bottom: 48px;
}

#post,
#page {
  .entry-content {
    background-color: $white;
    border-radius: 3px;
    margin: 40px 2px 20px 2px;
    padding: 10px 15px;
    box-shadow: 0 0 0 0,
                0 6px 12px rgba($black, 0.1);

    @media #{$medium} {
      margin-left: 10px;
      margin-right: 10px;
      padding: 20px 30px;
    }
    @media #{$large} {
      max-width: 800px;
      margin: 50px auto 30px auto;
      padding: 50px 80px;

      > p:first-child {
        @include font-margin(20);
      }
    }
  }

  .entry-meta {
    text-align: center;
    margin: 50px 30px 30px;
  }

  #disqus_thread {
    background-color: $white;
    border-radius: 3px;
    margin: 10px 2px 20px 2px;
    padding: 10px 15px;
    box-shadow: 0 0 0 1px rgba($border-color, 0.1),
                0 6px 12px rgba($black, 0.1);

    @media #{$medium} {
      margin-left: 10px;
      margin-right: 10px;
      padding: 20px 30px;
    }
    @media #{$large} {
      max-width: 800px;
      margin: 0 auto 30px auto;
      padding: 50px 80px;
    }
  }
}

.year-heading {
  margin-top: 0;
}

.permalink {
  margin-right: 7px;
}

.read-more {
  text-align: center;
  background-color: $white;
  border-radius: 3px;
  margin: 40px 2px 20px 2px;
  padding: 40px 15px 25px;
  position: relative;
  box-shadow: 0 0 0 1px rgba($border-color, 0.1),
              0 6px 12px rgba($black, 0.1);

  @media #{$medium} {
    margin: 50px 10px 20px 10px;
    padding: 50px 40px 25px;
  }
  @media #{$large} {
    max-width: 800px;
    margin: 60px auto;
    padding: 50px 80px;
  }
}
.read-more-header {
  height: 35px;
  top: -20px;
  left: 0;
  right: 0;
  position: absolute;

  a {
    @extend .btn;
  }
}
.read-more-content {
  @include content();

  h3 {
    @include font-rem(28);
    margin: 0;

    @media #{$medium} {
      @include font-rem(36);
    }

    a {
      color: $text-color;
    }
  }
}

.author-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba($black, 0.8);
}
.author-container {
  display: flex;
}
.author-bio {
  flex-grow: 1;
  padding-top: 30px;
  padding-left: 20px;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

ul.social-buttons {
  li a {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    background-color: #222;
    border-radius: 100%;
    outline: 0;
    transition: all .3s;

    &:hover,
    &:focus,
    &:active {
      color: #222;
      background-color: $info;
    }
  }
  li:hover a {
    transform: scale(1.2, 1.2);
  }
}

#post-index {
  #main {
    margin: 40px 2px 20px 2px;

    @media #{$medium} {
      margin-left: 20px;
      margin-right: 20px;
    }
    @media #{$large} {
      max-width: 800px;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  article {
    background-color: $white;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 25px 15px;
    box-shadow: 0 0 0 0,
                0 6px 12px rgba($base-color, 0.1);

    @media #{$medium} {
      padding: 30px;
    }
    @media #{$large} {
      margin-bottom: 30px;
      padding: 50px 80px;
    }
  }

  .continue-reading {
    text-align: center;
  }
}

.entry-image-index {

}

.entry-header {
  width: 100%;
  height: 50px;
  position: relative;
  overflow: hidden;

  @media #{$medium} {
    min-height: 300px;
    background-color: $header-color;
  }
}

.footer-wrapper {
  text-align: center;
  color: lighten($text-color, 20);
  margin: 2em auto;

  a {
    color: lighten($text-color, 20);
  }
}
