.btn {
  display: inline-block;
  @include font-rem(14);
  color: $white;
  background-color: $primary;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: $primary;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 8px 20px;

  &:visited {
    color: $white;
  }
  &:hover {
    color: $primary;
    background-color: $white;
  }
}
