<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <title>{{ page.title }}</title>
    
    <script src="https://aframe.io/releases/0.3.0/aframe.min.js"></script>
    <script src="https://cdn.rawgit.com/donmccurdy/aframe-extras/master/dist/aframe-extras.min.js"></script>
    <script src="https://cdn.rawgit.com/ngokevin/aframe-text-component/master/dist/aframe-text-component.min.js"></script>
    <script src="https://cdn.rawgit.com/ngokevin/aframe-layout-component/master/dist/aframe-layout-component.min.js"></script>
    <script src="https://cdn.rawgit.com/ngokevin/aframe-event-set-component/master/dist/aframe-event-set-component.min.js"></script>
    <script src="https://cdn.rawgit.com/ngokevin/aframe-animation-component/master/dist/aframe-animation-component.min.js"></script>
    <script src="https://cdn.rawgit.com/ngokevin/aframe-look-at-component/master/dist/aframe-look-at-component.min.js"></script>
    <script src="https://cdn.rawgit.com/bryik/aframe-bmfont-text-component/master/dist/aframe-bmfont-text-component.min.js"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>